<!-- <div class="text-center"> -->
  <h2>article.handlebars</h2>
  <div class="card">
    <div class="card-header">
      <div style="float:left;">
        <h3 style="color: var(--primary)">{{title}}</h3>
      </div>

      <div style="float:right;">
        <h4 style="float:right; color: var(--primary)">{{User.name}}</h4>
      </div>
    </div>
    <div class="card-body">
      {{text}}
    </div>
  </div>


  <!-- <div style="border-color: grey; background-color: #ffc7e3"> -->
  {{#each Comments as |comment| }}
    <div class="card">
      <div class="card-header">
        <!-- <div style="border-color:aquamarine; border-width: medium; border-style: solid;"> -->
        <div class="card-body">
          <p>{{comment.text}}</p>
          <p>{{comment.User.name}}  {{format_date comment.date_created}} </p>
        </div>
      </div>
    </div>
  {{/each}}

  <!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> -->
  <!-- <p>{{comments}}</p> -->
<!-- </div> -->

