<!-- <div class="text-center"> -->
  <div class="card">
    <div class="card-header">
      <!-- <div style="float:left;"> -->
        <h3 style="color: var(--primary)">{{title}}</h3>
      <!-- </div> -->

      <div style="float:right;">
        <h4 style="float:right; color: var(--primary)">{{User.name}}</h4>
      </div>
    </div>
    <div class="card-body">
      {{text}}
    </div>
  </div>


  <!-- <div style="border-color: grey; background-color: #ffc7e3"> -->
  {{#each Comments as |comment| }}
    <div class="card">
      <div class="card-header">
        <!-- <div style="border-color:aquamarine; border-width: medium; border-style: solid;"> -->
        <div class="card-body">
          <p>{{comment.text}}</p>
          <p>{{comment.User.name}}  {{comment.date_created}} </p>
        </div>
      </div>
    </div>
  {{/each}}

  <div class="card">
    <div class="card-header">
      <!-- <div style="float:left;"> -->
        <!-- <h3 style="color: var(--primary)">{{title}}</h3> -->
      <!-- </div> -->

      <div style="float:right;">
        <!-- <h4 style="float:right; color: var(--primary)">{{User.name}}</h4> -->
      </div>
    </div>
    <div class="card-body">
      <label for="comment">Comment:</label>
      <textarea class="form-textarea" id="comment" placeholder="Great article!"></textarea>
      <!-- When this element is in a :focus state, the CSS `outline` property should be applied -->
      <button style="width: 100%; padding: 1em 2em; font-size: 1.2rem;">Submit</button>
      <!-- {{text}} -->
    </div>
  </div>
