<!-- article.hbs -->
<!-- Show the article title, content and all comments -->
<!-- Allow comments to be added -->

<div style="background-color: var(--dark); width: 100%; padding: 20px 0px;">
  <h2 class="tech-brand">The Tech Blog</h2>
</div>

<div class="card">
  <div class="card-header">
    <h3 style="color: var(--primary); display: inline;">{{title}}</h3>
    <h4 style="float:right; color: var(--primary)">{{user.name}}  {{format_date date_created}})</h4>
  </div>
  <div class="card-body">
    {{text}}
  </div>
</div>

<!-- Show comments if any -->
{{#each comments as |comment| }}
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <p>{{comment.text}}</p>
      <p>{{comment.user.name}}  {{format_date comment.date_created}} </p>
    </div>
  </div>
{{/each}}

<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <form>
      <label class="form-label" for="comment">Comment:</label>
      <textarea class="form-textarea" id="comment" placeholder="Great article!" data-id="{{id}}"></textarea>
      <button class="btn btn-primary new-comment" style="padding:15px 20px; margin-bottom: 20px;" type="button" data-id="{{user.id}}">Submit</button>
    </form>
  </div>
</div>
<script src="/js/newcomment.js"></script>