<div class="text-center">
  <h2>article.handlebars</h2>
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> -->
  <!-- <p>{{comments}}</p> -->
 </div>

<!--
{
  id: 1,
  title: 'Why MVC is so important',
  text: 'MVC allows developers to maintain a true separation of concerns, devising their code betwen the Model layer for data, the View layer for design, and the Controller layer for application logic. by Xandromus',
  date_created: 2021-06-09T13:05:21.000Z,
  user_id: 1,
  comments: [ { text: 'Yes, MVC is important' } ]
}
-->
