<!-- User got here by clicking on an article title in the list of articles in dashboard.hbs -->
<!-- Show title and content, both are editable, and 1 buttons, Update -->
<!-- Card title should say Edit Article -->

<div style="background-color: var(--dark); width: 100%; padding: 20px 0px; margin-bottom: 15px">
  <h2 class="tech-brand">Your Dashboard</h2>
</div>
<p>id  {{id}}</p>

<div class="container">
    <p>{{title}}</p>
    <div class="card">
      <div class="card-header">
        <h3 style="color: var(--primary)">Edit Article</h3>
      </div>

      <label class="updateform-label" for="update-title" style="font-size: 150%">Title</label>
      <input class="updateform-input" value="{{title}}" type="text" id="update-title" />

      <label class="updateform-label" for="update-text" style="font-size:150%">Content</label>
      <input class="updateform-input" value="{{text}}" type="textarea" id="update-text" />

      <button class="btn btn-primary update-article" type="button" data-id="{{id}}">Update Article</button>

  </div>
</div>
<script src="/js/editarticle.js"></script>
