<!-- Loop over each object in the articles array -->
{{#each articles as |article| }}
<div class="row mb-4 article">
  <div class="col-md-5">
    <h2>
      <a href="/article/{{article.id}}">{{article.title}}</a>
    </h2>
    <p>Created by {{article.user.name}} on {{format_date article.date_created}}</p>
    <div style="border-color: grey; background-color: #ffc7e3">
      {{#each article.Comments as |comment| }}
      <div style="border-color:aquamarine;">
        <p>{{comment.text}}</p>
        <p>{{comment.User.name}}</p>
      </div>
      {{/each}}

    </div>
  </div>
</div>
{{/each}}
