<!-- Loop over each object in the articles array -->
{{#each articles as |article| }}
<div class="row mb-4 article">
  <div class="col-md-5">
    <h2>
      <a href="/article/{{article.id}}">{{article.title}}</a>
    </h2>
    <p>Created by {{article.user.name}} on {{format_date article.date_created}}</p>
    {{#each article.Comments as |comment| }}
      <p>Comment</p>
      <p>{{comment.text}}</p>
    {{/each}}
  </div>
</div>
{{/each}}
